<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">

    <script src="~/scripts/jquery-1.10.2.js"> </script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"> </script>

    <style>
        .btn a {
            color: white;
            text-decoration: none
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
